<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sqlconnection" connectionString="Data Source=MDMOB40384;Initial Catalog=SCHEDULE; Integrated Security = SSPI; Persist Security Info=True;User ID=sa;Password=AmFutr17"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>